body{
    font-family: sans-serif;
    background-color: bisque;
    padding: 25px;
}

h2{
    color: #333;
}

form{
    margin-bottom: 25px;
}

input{
    padding: 8px;
    margin-right: 10px;
}


button{
    padding: 8px 12px;
    cursor: pointer;
}

#tasklist div{
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}